<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Category</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Unit In Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.categoryId}}</td>
            <td>{{product.unitPrice}}</td>
            <td>{{product.unitsInStock}}</td>
        </tr>
      </tbody>
  
</table>
